.jumbotron
  %h1.display-4 Hello, world!
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %hr.my-4/
  %p It uses utility classes for typography and spacing to space content out within the larger container.
  .form-inline.my-2.my-lg-0 
    - if current_user
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_cont, class: 'form-control mr-sm-2', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}

.card-group 
  .card.card-body 
    %h1
      .fa.fa-graduation-cap
    = Course.count 
    Online Courses 
    .row 
    Explore a variety of fresh topics 
  .card.card-body 
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    Expert instructors
    .row 
    Find the intructor for you
  .card.card-body 
    %h1
      .fa.fa-user-graduate
    = User.count 
    Active learners
    .row 
    Join the knowledge sharing community
  .card.card-body 
    %h1
      .fa.fa-infinity
    Life time access
    .row 
    Learn on your schedule




%hr
%h2
  .fa.fa-user-graduate
  Continue learning
.card-columns 
  - @courses.each do |course|
    = render "courses/course", course: course
%hr
%h2
  .fa.fa-chart-line
  Popular Courses
.card-columns 
  - @courses.each do |course|
    = render "courses/course", course: course
%hr
%h2
  .fa.fa-star
  Top Rated Courses
.card-columns 
  - @courses.each do |course|
    = render "courses/course", course: course
%hr
%h2
  .fa.fa-clock
  Most Recent Courses
.card-columns 
  - @recent_courses.each do |course|
    = render "courses/course", course: course
%hr
%hr
%h2
  .fa.fa-comment
  What our students have to say
.card-columns 
  - @enrollements.each do |enrollement|
    = render "enrollements/enrollement", enrollement: enrollement
%hr