- content_for :title do 
  OnlineCourses101
  \|
  New enrollement

.card
  .card-header
    %h3
      .fa.fa-graduation-cap
      = link_to @course.title, course_path(@course) 
      %hr
      .fa.fa-lock-open 
      Buy Course
  .card-body
    = form_tag course_enrollements_path(@course) do 
      = submit_tag "Pay #{@course.price}", class:"btn btn-lg btn-success"
  .card-footer
    = link_to 'Back', course_path(@course)
