.card 
  .card-header 
    .fa.fa-graduation-cap
    = link_to course.title, course_path(course) 
  .card-body
    %small= simple_format(course.short_description)
  .card-footer
    .fa.fa-globe-africa
    = course.language
    .fa.fa-signal
    = course.level
    .text-center
      = enrollement_button(course)
      .row.justify-content-center.mt-2
        = review_button(course)
      -# = number_to_currency(course.price)
  .card-footer
    .row
      .col-md-6
        .fa.fa-chalkboard-teacher
        = link_to course.user.username, user_path(course.user)
      .col-md-6.text-right
        .text-warning.fa.fa-star
          = course.average_rating
        .text-info.fa.fa-user
          = course.enrollements_count
        .fa.fa-tasks 
          = course.lessons_count
  - if current_user
    - if policy(course).edit?
      .card-footer
        -# = link_to 'Show', course, class: "btn btn-sm btn-primary"
        - if policy(course).owner?
          = link_to "Add lesson", new_course_lesson_path(course, @lesson), class: "btn btn-sm btn-primary"
        = link_to 'Edit', edit_course_path(course), class: "btn btn-sm btn-warning" # if policy(course).edit?
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" # if policy(course).destroy?
      - if policy(course).destroy?
        .card-footer
          - if course.published
            .badge.badge-success Published
          - else 
            .badge.badge-danger Unpublished
          - if course.approved
            .badge.badge-success Approved
            = link_to "Unpprove", unapprove_course_path(course), method: :patch, class: "btn btn-sm btn-danger"
          - else 
            .badge.badge-danger Unapproved 
            = link_to "Approve", approve_course_path(course), method: :patch, class: "btn btn-sm btn-success"
          