- content_for :title do 
  OnlineCourses101
  \|
  All Courses
%h2.text-center 
  Courses
  .badge.badge-info 
    = @courses.count

.row 
  .col-md-2 
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      = f.label :title
      = f.search_field :title_cont, class: "form-control form-control-sm", placeholder: "Course title"
      = f.label :short_description
      = f.search_field :short_description_cont, placeholder: "short desc", class: "form-control form-control-sm"
      = f.label :language
      = f.select :language_cont, Course.languages, class: "form-control form-control-sm", include_blank: true
      = f.label :price
      = f.search_field :price_eq, placeholder: "price", class: "form-control form-control-sm"
      = f.label :level
      = f.select :level_cont, Course.levels, include_blank: true, class: "form-control form-control-sm"
      = f.label :teacher
      = f.search_field :user_email_cont, placeholder: "User email", class: "form-control form-control-sm"
      = f.submit 
    = link_to courses_path, class: "btn btn-sm btn-secondary" do 
      .fa.fa-sync-alt
  .col-md-10
    .card-columns 
      - @courses.each do |course|
        = render "course", course: course
    != pagy_bootstrap_nav(@pagy)




 